	ul#navi {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 108px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navi li {
    width: 100px;
}
ul#navi li a {
    display: block;
    margin-left: -85px;
    width: 100px;
    height: 70px;
    background-color:#363636;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
        -moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
}
ul#navi .home a{
    background-image: url(home.png);
    background-size: 50px 50px;
}
ul#navi .xbox a      {
	background-color: #008000;
    background-image: url(xbox.png);
    background-size: 50px 50px;
}
ul#navi .psn a      {
	background-color: #551A8B;
    background-image: url(psn.png);
    background-size: 90px 50px;
}
ul#navi .steam a      {
	background-color: #1F1F1F;
    background-image: url(Steam.png);
    background-size: 70px 70px;
}
ul#navi .login a      {
    background-image: url(Login.png);
    background-position:right; 
}
